/* accountManagement.css */
.account-management {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.account-management h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.account-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account-form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account-form button {
    width: fit-content;
}

.account-form label {
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
}

.account-form input[type="text"],
.account-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.account-form input[type="text"]:focus,
.account-form input[type="password"]:focus {
    border-color: #007bff;
}

.account-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-form button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.account-form button:hover:not(:disabled) {
    background-color: #3e9441;
}

.error-message {
    color: #d9534f;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.delete-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}
