main.histoire-main{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

main > h1 {
    font-size: 2.5rem;
    margin: 3%;
    font-family: "Quasimoda W03 ExtraBold", sans-serif;
    color: #510000;
} 

.histoire{
    display: flex;
    /* height: 100vh; */
}

main.histoire-main .leftSide{
    /* height: 84vh; */
    height: 80%;
    width: 50%;
}

.imgDomaine{
    /* height: 84vh; */
    height: 80%;
    width: 50%;
    position: absolute;
}

.txt1{
    height: 165px;
    width: 250px;
    position: relative;
    margin-left: 50%;
    margin-top: 7%;
}

.txt2{
    height: 294px;
    width: 461px;
    background-color: white ;
    position: relative;
    margin-top: 30%;
    
}

main.histoire-main .rightSide{
    /* height: 84vh; */
    height: 80%;
    width: 50%;

}

.passion, .famille{
    display: flex;
    margin: 3%;
}

.txtPassion, .txtFamille {
    display: flex;
    flex-direction: column;
    margin: 0 3% 0 3%;
    text-align: left;
    letter-spacing: 0;
}

