.nosProduits{
    background-color: #20060fe7;
    height: 920px;
    width: 100%;
    top: 0;

}

.produit-body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.produit-hero {
    width: 100%;
    height: 400px;
    background-image: url(../assets/images/produit_hero.jpg);
    background-size: cover;
    background-position-y: 20%;
    position: relative;
}


.produit-description { 
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    color: white;
}


.produit-description > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 2rem;
}

.produit-description h2 {
    font-size: 1.25rem;
}

.produit-description p {
    font-size: .9rem;
}

.produit-buttons {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #510000;
}

.produit-buttons button {
    height: 60px;
    width: 20%;
    border-radius: 10px 10px 0 0;
    border: none;
    font-weight: bold;
}


.decouvrez{
    position: fixed;
    color: white;
    width: 34%;
    background : linear-gradient( #000000fa, #0000003e );
    display: flex;
    justify-content: center;
}

.produits{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-left: 39%;
    top: 10%;
    position: fixed


}

.produit{
    height: 340px;
    width: 390px;
    background-color: #20060f4c;
    margin: 20px;
    border-radius: 2% ;
    box-shadow: 1px 4px 10px 4px #999797;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.imgBottle{
    height: 300px;
}

.descriptionProduit{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: 4px;
}


p{
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    vertical-align : middle;
    

}

.btnCTA{
    height: 40px;
    width: 160px;
    border-radius: 20px;
    background : linear-gradient( #6b0e2b, #ac043c );
    color: white;
    border: none;
    font-size: large ;
    box-shadow: 1px 1px 10px  #999797;
    margin-top: 50px;
}

.btnCTA:hover{
    cursor: pointer;
    background : linear-gradient(#ac043c, #6b0e2b );
}

.imgBackground{
    height: 98%;
}






/* Transition */

.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 600ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 600ms;
  }
  
  .slide-enter {
    transform: translateX(100%);
  }
  .slide-enter-active {
    transform: translateX(0);
    transition: transform 600ms;
  }
  .slide-exit {
    transform: translateX(0);
  }
  .slide-exit-active {
    transform: translateX(100%);
    transition: transform 600ms;
  }
  
  