body {
    height: 600px;
}

.singup-banner {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singup-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.singup {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    padding: 20px 70px;
    border-radius: 10px;
}

.singup-block .intro {
    margin-bottom: 20px;
    color: #510000;
    font-family: "Quasimoda W03 ExtraBold", sans-serif;
}

.singup-block label {
    color: #510000;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.singup-block input {
    margin-bottom: 5px;
}


.singup-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
